.roomTable {
  width: 100%;
  color: black !important;
}
.roomTd {
  border: 1px solid lightgrey;
  text-align: center;
}

/* Navn som er lengre enn td-lengde går ikke nedover*/
.roomTable tr td {
  max-width:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info_user_booking {
  margin-bottom: 2%;
}

.remove_padding {
  padding: 0 !important;
}

.roomTdNoBorder {
  border: 0px !important;
}
.roomTd {
  padding: 1% !important;
}
#firstTd {
  width: 20%;
}
.form-horizontal {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.colorMe {
  background-color: #4CAF50;
  border-top: none !important;
  border-bottom: none !important;
}

#bookEnd {
  border-bottom: 1px solid lightgrey !important;
}

#bookStart {
  border-top: 1px solid lightgrey !important;
}

.control-label {
  margin-bottom: 1% !important;
}

.save_booking {
  margin-bottom: -15px;
}